QAbstractItemView {
    border: none;
    background: palette(alternate-base);
    selection-background-color: palette(highlight);
}

QTreeView::branch {
    border: none;
    background: palette(alternate-base);
}

QSplitter::handle {
    background: palette(dark);
}

ToolBar {
    border: 1px solid transparent;
    border-top-color: palette(dark);
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0.0 palette(light),
                                stop: 1.0 palette(button));
}

TextBrowser {
    border: none;
}

MessageView > QLineEdit {
    border: 1px solid transparent;
    border-top-color: palette(dark);
}

QLabel#headerLabel {
    border: 1px solid transparent;
    border-bottom-color: palette(dark);
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0.0 palette(light),
                                stop: 1.0 palette(button));
}

QLabel#footerLabel {
    border: 1px solid transparent;
    border-top-color: palette(dark);
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0.0 palette(light),
                                stop: 1.0 palette(button));
}

QLabel#helpLabel {
    border: 1px solid transparent;
    border-top-color: palette(dark);
}

QLabel#topicLabel {
    border: 1px solid transparent;
    border-bottom-color: palette(dark);
}

QLabel#topicLabel[gradient="true"] {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0.0 palette(light),
                                stop: 1.0 palette(button));
}

QToolButton#reconnectButton {
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(:/resources/reconnect.png);
}

QToolButton#reconnectButton:pressed {
    background-image: url(:/resources/reconnect-pressed.png);
}
