# This file does not signify real code owners. We use it to automate the 
# process of assigning code reviews. But generally all members of the
# project own the whole product.

*.*                           @Mudlet/mudlet-makers
