version: 1.0.{build}
init:
- cmd: mkdir C:\src\
environment:
  signing_password:
    secure: gOKqBtIvfDuGkEeaHGaguMmafynYAG06iVuD6Krem7M=
  DEPLOY_KEY_PASS:
    secure: 81sr0SJzuWG+mgH3X6fJTh4rfX5/O1qa3MsItNvFukQ=
  DEPLOY_PATH:
    secure: XQhASAJJm4Owpu74K4jgL0gszN59XJnCAS27NG7CW5G1LSRSWRh/EhKiTD36DvSr
  DBLSQD_USER:
    secure: MzfNcBLZRfswzBQufoW4EV+9/tcG5vW+G6EVTyN6Glc=
  DBLSQD_PASS:
    secure: Bm5PLJjC39XmRC55RPGVP9c5CFxvWu2VorAAmu5QS38=
  matrix:
  - QT_BASE_DIR: C:\Qt\5.12.2\mingw73_32
    MINGW_BASE_DIR: C:\Qt\Tools\mingw730_32
install:
- cd "%APPVEYOR_BUILD_FOLDER%\CI"
- powershell ".\appveyor.install.ps1"

build_script:
- cd "%APPVEYOR_BUILD_FOLDER%\CI"
- powershell ".\appveyor.build.ps1"

on_failure:
- cd C:\src
- bash -c "curl --upload-file ./verbose_output.log https://transfer.sh/verbose_output.log"

after_build:
- ps: .\appveyor.set-build-info.ps1
- cmd: 7z a Mudlet-%VERSION%%MUDLET_VERSION_BUILD%-windows.zip "%APPVEYOR_BUILD_FOLDER%\src\release"
- ps: $env:DEPLOY_URL = curl https://make.mudlet.org/snapshots/Mudlet-%VERSION%%MUDLET_VERSION_BUILD%-windows.zip --upload-file Mudlet-%VERSION%%MUDLET_VERSION_BUILD%-windows.zip

# artifacts:
# - path: src\release
#   name: mudlet

notifications:
- provider: Webhook
  url: https://webhooks.gitter.im/e/2d6f7bea328a9dd60769
  on_build_success: true
  on_build_failure: true
  on_build_status_changed: true
  body: >-
    {
      "message": "Appveyor {{repositoryName}}{{#isPullRequest}}#{{pullRequestId}}{{/isPullRequest}}{{^isPullRequest}} ({{branch}}){{/isPullRequest}} {{#passed}}passed{{/passed}}{{#failed}}failed{{/failed}} ({{buildNumber}})",
      "level": "{{#passed}}info{{/passed}}{{#failed}}error{{/failed}}"
    }
