Checks:  '# disable all checks by default
          -*
          readability-identifier-length
          # and only explicitly enable the ones we need
          performance-*
          readability-*
          bugprone-*
          clang-analyzer-*
          cppcoreguidelines-*
          mpi-*
          misc-*
          -readability-implicit-bool-conversion
          -readability-qualified-auto
          -cppcoreguidelines-owning-memory
          -cppcoreguidelines-avoid-magic-numbers
          -readability-magic-numbers
          -readability-static-accessed-through-instance
          -cppcoreguidelines-pro-type-static-cast-downcast
          -bugprone-suspicious-enum-usage
          -readability-uppercase-literal-suffix
          -cppcoreguidelines-avoid-non-const-global-variables
          -cppcoreguidelines-pro-bounds-array-to-pointer-decay
          -misc-no-recursion
          -readability-isolate-declaration
          -cppcoreguidelines-pro-type-vararg
          -misc-non-private-member-variables-in-classes
          -performance-no-automatic-move
          -readability-avoid-const-params-in-decls
          -cppcoreguidelines-non-private-member-variables-in-classes
          '
# Use .clang-format for formatting
FormatStyle: file
CheckOptions:
  - key:             readability-identifier-length.IgnoredParameterNames
    value:           'i|r|g|b|a|x|y|z|c|p|L|rr|fg|bg|gg|bb|id|pC|pT|pH|to|it|pW|ch'
  - key:             readability-identifier-length.IgnoredVariableNames
    value:           'i|r|g|b|a|x|y|z|c|p|L|rr|fg|bg|gg|bb|id|pC|pT|pH|to|it|pW|ch'
