/build*
/.vscode
*.pro.user
Makefile
ui_*.h
moc_*.cpp
qrc_*.cpp
*.o
*.dmg
*.app
mudlet

# ignore macOS apps in general, but keep the Autoupdater from Sparkle
!3rdparty/sparkle/Sparkle.framework/Versions/A/Resources/Autoupdate.app
