[submodule "3rdparty/edbee-lib"]
	path = 3rdparty/edbee-lib
	url = https://github.com/Mudlet/edbee-lib.git
[submodule "3rdparty/lua_code_formatter"]
	path = 3rdparty/lcf
	url = https://github.com/martin-eden/lua_code_formatter.git
[submodule "3rdparty/dblsqd"]
	path = 3rdparty/dblsqd
	url = https://github.com/Mudlet/dblsqd-sdk-qt.git
[submodule "3rdparty/sparkle-glue"]
	path = 3rdparty/sparkle-glue
	url = https://github.com/Mudlet/mixing-cocoa-and-qt.git
[submodule "3rdparty/qtkeychain"]
	path = 3rdparty/qtkeychain
	url = https://github.com/Mudlet/qtkeychain.git
[submodule "3rdparty/vcpkg"]
	path = 3rdparty/vcpkg
	url = https://github.com/microsoft/vcpkg
