language: cpp
os:
  - osx
  - linux
dist: trusty
sudo: false
addons:
  apt:
    sources:
    - sourceline: 'ppa:beineri/opt-qt562-trusty'
    packages:
    - qt56base
    - qt56multimedia
    - qt56tools
    - libhunspell-dev
    - lua5.1
    - liblua5.1-0-dev
    - libboost-graph1.55-dev
    - zlib1g-dbg
    - libzip-dev
    - libpulse-dev
    - libyajl-dev
compiler:
  - gcc
  - clang
env:
  matrix:
  - Q_OR_C_MAKE=cmake
  - Q_OR_C_MAKE=qmake
  global:
  - secure: VFI3UCiDrp47WTcUhsatdQvvWg+3gk00eBMZgSOXXKY5+hk+NOX7bOFcIM5t9nlZDbpHDr10SFTuUOw+PeWmLpFO06Zrjg86M9jm9WS4i8Cs9hfxoT6H4isXlR1vubX2LmNlHyzg8WtdNanlsufgecyaGksJxr7tVhG/cWyD6yo=
matrix:
  exclude:
  - os: osx
    compiler: gcc
before_install: ./CI/travis.before_install.sh
install: ./CI/travis.install.sh
before_script:
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then PATH="/usr/local/opt/qt5/bin:$PATH"; fi
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then source /opt/qt56/bin/qt56-env.sh; fi
  # source the set-build-info as it exports some variables for us!
  - source CI/travis.set-build-info.sh
  - mkdir build
  - cd src
script:
  - cd ../build
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then export LDFLAGS=" -L/usr/local/opt/qt5/lib ${LDFLAGS}"; export CPPFLAGS=" -I/usr/local/opt/qt5/include ${CPPFLAGS}"; fi
  - if [ "${CC}" = "clang" ] && [ "${TRAVIS_OS_NAME}" = "linux" ] && [ "${Q_OR_C_MAKE}" = "qmake" ] ; then SPEC="-spec linux-clang"; fi
  - if [ "${Q_OR_C_MAKE}" = "qmake" ]; then qmake -v; qmake ${SPEC} ../src/src.pro && make -j2; else cmake --version; cmake .. && make -j2 && make check; fi
after_success:
  - cd ${TRAVIS_BUILD_DIR}
  - bash CI/travis.after_success.sh
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/4ed233d9013d611a1568
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
