[Desktop Entry]
Version=1.1
Name=Mudlet
X-AppInstall-Package=mudlet
GenericName=Mud Client
Comment=Play online text-based games (MUDs)
Exec=mudlet
Terminal=false
Type=Application
Icon=mudlet
Categories=Game;AdventureGame;RolePlaying;ActionGame;
