Makefile
Makefile.*
Makefile_*.mk
debug
release
/imports
/plugins
doc/html
lib
bin
qmakepluginstubs
*~
*.o
*.moc
*.app
*.pdb
*.bak
*.rej
*.exe
*.orig
*.user
*.user.*
*.sln
*.suo
*.sdf
*.opensdf
*.vcproj
*.vcxproj
*.filters
/ipch
Thumbs.db
*.xcodeproj
*.plist
.DS_Store
communi-config.prf
.qmake.cache
.make.cache
.tmp
*.Debug
*.Release
ABLD.BAT
bld.inf
bld.inf.*
*.def
*.sis
*.pkg
*.loc
*.rss
*.mmp
moc_*.cpp
*.changes
*.deb
build-stamp
configure-stamp
/debian
/examples/bot/bot
/examples/mobile/communi
/tests/auto/irccommand/irccommand
/tests/auto/ircdecoder/ircdecoder
/tests/auto/ircmessage/ircmessage
/tests/auto/ircparser/ircparser
/tests/auto/ircsender/ircsender
/tests/auto/ircsession/ircsession
/tests/benchmarks/messageformatter/messageformatter
