name: Pull request

on:
  pull_request_target:
  # TODO: remove me
  pull_request:
  push:

jobs:
  add-milestone:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: Get next milestone
      id: next-milestone-string
      uses: mikefarah/yq@master
      with:
        cmd: yq eval '.milestones.next-milestone' '.github/repo-metadata.yml'

    - name: 'Convert milestone to Github #'
      id: next-milestone-number
      run: |
        MILESTONE_NUMBER=$(curl --silent --request GET \
          --url https://api.github.com/repos/Mudlet/Mudlet/milestones \
          -H "Accept: application/vnd.github.v3+json" | \
          jq '.[] | select(.title == "${{ steps.next-milestone-string.outputs.result }}").number')

        echo "MILESTONE_NUMBER=$MILESTONE_NUMBER" >> "$GITHUB_ENV"

    - name: Assign PR to milestone
      env:
        TOKEN: ${{ secrets.GH_PAT_UPDATE_PULL_REQUESTS }}
      run: |
        curl -s --request PATCH \
            --url ${{ github.event.pull_request.issue_url }} \
            --header 'authorization: token "${TOKEN}"' \
            --data '{"milestone": "$MILESTONE_NUMBER"}'
