name: Update texts for translators
on:
  push:
    branches:
      - 'release-**'

  schedule:
    - cron:  '0 0 * * fri'

jobs:
  update-and-commit-text:
    runs-on: ubuntu-latest
    if: github.repository == 'Mudlet/Mudlet'
    steps:
    - uses: actions/checkout@v2
      with:
        ref: development
        submodules: true
        fetch-depth: 0

    - name: update text for translation
      uses: Mudlet/lupdate-action@master
      with:
        args: -recursive ./src/ ./3rdparty/dblsqd/dblsqd ./3rdparty/edbee-lib/edbee-lib -ts ./translations/mudlet.ts

    - name: check if any UI text was modified
      id: getdiff
      run: |
        # see if we had any changes in the diff, ignoring the <location... changes
        lines_changed=$(git diff --patch --unified=0 translations/mudlet.ts | awk '! /^((@@|diff|index|---|\+\+\+)|((-|+) *<location))/ { count++ } END { print count }')
        echo "$lines_changed lines changed."
        echo ::set-output name=lines_changed::$lines_changed

    - name: send in a pull request
      uses: gr2m/create-or-update-pull-request-action@v1.x
      if: steps.getdiff.outputs.lines_changed > 0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        title: "Update text for translation in Crowdin"
        body: |
          #### Brief overview of PR changes/additions
          :crown: An automated PR to make new text available for translation in Crowdin from ${{ github.ref }} (${{ github.sha }}).
          #### Motivation for adding to Mudlet
          So translators can translate the new text before the upcoming release.:
        branch: update-texts-for-translators-${{ github.sha }}
        path: translations/
        commit-message: (autocommit) Updated text for translation
        author: "mudlet-machine-account <mudlet-machine-account@users.noreply.github.com>"
