name: Update translations
on:
  push:
    branches:
      - 'release-**'

  schedule:
    - cron:  '0 0 * * fri'

jobs:
  update-and-commit-text:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        submodules: true
        fetch-depth: 0

    - name: update text for translation
      uses: Mudlet/lupdate-action@master
      with:
        args: -recursive ./src/ ./3rdparty/dblsqd/dblsqd ./3rdparty/edbee-lib/edbee-lib -ts ./translations/mudlet.ts

    - name: commit changes
      uses: teaminkling/autocommit@master
      with:
       commit-message: (autocommit) Updated text for translation

    - name: create texts branch
      uses: peterjgrainger/action-create-branch@v1.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        branch: updated-text-${{ github.sha }}

    - name: push new text
      uses: ad-m/github-push-action@v0.5.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: updated-text-${{ github.sha }}
        force: true

    - name: pull-request
      uses: repo-sync/pull-request@v2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        source_branch: updated-text-${{ github.sha }}
        destination_branch: development
        pr_title: "Update text for translation in Crowdin"
        pr_body: |
          #### Brief overview of PR changes/additions
          :crown: An automated PR to make new text available for translation in Crowdin from ${{ github.ref }} (${{ github.sha }}).
          #### Motivation for adding to Mudlet
          So translators can translate the new text before the upcoming release.
